name: unit_test

on: [ pull_request ]

jobs:
  test_unittest:
    runs-on: ubuntu-latest
    # Skip CI if [ci skip] in the commit message
    if: "! contains(toJSON(github.event.commits.*.message), '[ci skip]')"
    strategy:
      matrix:
        python-version: [ 3.8, 3.11 ]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Upgrade pip
        run: |
          python -m pip install --upgrade pip setuptools wheel
      - name: Install dependencies
        run: |
          python -m pip install .
          python -m pip install ".[test]" --upgrade
      - name: do_unittest
        timeout-minutes: 40
        run: |
          pytest tests --cov=./openrl --cov-report=xml -m unittest --cov-report=term-missing --durations=0 -v --color=yes
      - name: Upload coverage reports to Codecov with GitHub Action
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
          flags: unittests
          name: codecov-umbrella
          fail_ci_if_error: false
